mwc-button {
  --mdc-theme-primary: var(--primary-color, #e9437a);
  --mdc-theme-on-primary: white;
}

mwc-textfield {
  --mdc-theme-primary: var(--primary-color, #e9437a);
  --mdc-theme-on-primary: white;
}